<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tytkimya">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tkimyaa"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tkimyaa"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.kotuzapp.tytkimya.haberler"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name="com.kotuzapp.tytkimya.kronometre" />
        <activity android:name=".kullaniciYorum" />
        <activity android:name=".kimyaninGelisimiSoru" />
        <activity android:name=".mesaj" />
        <activity android:name=".kisaNotlarActivity" />
        <activity android:name=".peryodikTabloActivity" />
        <activity android:name=".bilesiklerActivity" />
        <activity android:name=".atomveYapisiActivity" />
        <activity android:name=".molKavramActivity" />
        <activity android:name=".maddeVeOzellikleriActivity" />
        <activity android:name=".kimyaKanunActivity" />
        <activity android:name=".kimyaGelisimiActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6537190103014639~1527626552" />

        <activity android:name=".konular" />
        <activity android:name=".anaSayfa" />
        <activity android:name=".animasyon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>